<%= render "layouts/logged_in_project" %>
<div class="content-container">
  <p class="sheets-presentation-text">
    Escoja el tipo de ficha de Unidad Estratigráfica que más se adecúe al tipo de contexto a excavar
  </p>
  <div class="sheets-trigger-container">
    <%= link_to 'Ficha de restos humanos', new_project_skeleton_sheet_path(@project.id), class: "sheet-trigger" %>
    <%= link_to 'Ficha de restos de madera', new_project_timber_sheet_path(@project.id), class: "sheet-trigger" %>
    <%= link_to 'Ficha de restos murarios', new_project_masonry_sheet_path(@project.id), class: "sheet-trigger" %>
    <%= link_to 'Ficha de corte/depósito', new_project_context_sheet_path(@project.id), class: "sheet-trigger" %>
    <%= link_to 'Ficha de edificación', new_project_building_sheet_path(@project.id), class: "sheet-trigger" %>
  </div>
  <% if @records_index.length > 0 %>
    <div class="records-index">
      <div class="records-index__title">Listado de fichas</div>
      <table class="records-index__table">
        <tr>
          <th class="records-index__table__header" >Context number</th>
          <th class="records-index__table__header" >Interpretation</th>
          <th class="records-index__table__header" >Context type</th>
        </tr>
      
        <% @records_index.each do |record| %>
        <tr>
          <td class="records-index__table__data" data-th="context_number"><%= record.ue %></td>
          <td class="records-index__table__data" data-th="interpretation"><%= record.interpretation %></td>
          <td class="records-index__table__data" data-th="context_type"><%= record.contextable_type %></td>
          <td class="records-index__table__data" data-th="context_link"><%= link_to "Show", project_context_path(@project.id, record.id) %></td>
        </tr>
        <% end %>
      </table>
    <% else %>
      <h2>Todavía no ha guardado ninguna ficha en este proyecto</h2>
    <% end %>
  </div>
</div>