<%= render "layouts/logged_in_project" %>
<%= link_to 'Ficha de restos humanos', new_project_skeleton_sheet_path(@project.id) %>
<%= link_to 'Ficha de restos de madera', new_project_timber_sheet_path(@project.id) %>
<%= link_to 'Ficha de restos murarios', new_project_masonry_sheet_path(@project.id) %>
<%= link_to 'Ficha de corte/depósito', new_project_context_sheet_path(@project.id) %>
<%= link_to 'Ficha de edificación', new_project_building_sheet_path(@project.id) %>

<div class="records-index">
  <% if @records_index != nil %>
    <% @records_index.each do |record| %>
      <%= link_to "#{record.ue}", project_context_path(@project.id, record.id) %>
      <%= record.site_code %>
      <%= record.area %>
      <%= record.interpretation %>
      <%= record.contextable_type %><br>
      <% if record.contextable_type != nil %>
        <%= record.contextable.id %><br>
      <% end %>
    <% end %>
  <% else %>
    <h2>Todavía no ha guardado ninguna ficha en este proyecto</h2>
  <% end %>
</div>