<h1>crealo loco</h1>

<%= form_for [current_user,@project] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.submit "save" %>
<% end %>