<div class="new-project-form-container">
	<%= form_for [current_user,@project], method: "post" do |f| %>
	<%= f.hidden_field :lat, value: 0 %>
	<%= f.hidden_field :lng, value: 0 %>
	  <%= f.label :name, class: "new-project-label" %><br>
	  <%= f.text_field :name %>
	  <br>
	  <%= f.label :description, class: "project-description-label" %><br>
	  <%= f.text_area :description, class: "project-description-textarea"  %>
	  <br>
	  <%= f.submit "save", class: "create-project-trigger" %>
	<% end %>
</div>