<div class="edit-buttons">
  <%= link_to 'Edit', edit_project_context_sheet_path(@project.id, @context.contextable_id) %>
  <% if current_user.has_role? :admin, @project %>
    <%= link_to 'Delete', project_context_sheet_path(@project.id, @context.contextable_id), method: "delete",:data => {:confirm => 'Are you sure?'} %>
  <% end %>
</div>


<h2 class="context-type-title">Ficha de corte / depósito</h2>

<div class="context-form-container">

  <section class="context-form__site-info">
      <div class="context-form__field">
        <label class="context-form__label">Site Code</label>
        <input readonly type="text" class="context-form__textfield" placeholder=<%= @context.site_code%>>
      </div>
      <div class="context-form__field">
        <label class="context-form__label">Area</label>
        <input readonly type="text" class="context-form__textfield" placeholder=<%= @context.area%> >
      </div>
      <div class="context-form__field">
        <label class="context-form__label">UE</label>
        <input readonly type="text" class="context-form__textfield" placeholder=<%= @context.ue%>>
      </div>
      <div class="context-form__field">
        <label class="context-form__label">Section</label>
        <input readonly type="text" class="context-form__textfield" placeholder=<%= @context.section%>>
      </div>
      <div class="context-form__field">
        <label class="context-form__label">Trench</label>
        <li>
        <input readonly type="text" class="context-form__textfield" placeholder=<%= @context.trench%>>
        </li>
      </div> 
  </section>

  <section class="context-specific-fields">
      <div class="context-form__field">
        <label class="context-form__label">Context type</label>
        <textfield readonly type="text" class="context-form__textfield" ><%= @context.contextable.context_type%></textfield>
      </div>
      <div class="context-form__field">
        <label class="context-form__label">Description</label>
        <textarea readonly type="text" class="context-form__textarea" ><%= @context.contextable.description%></textarea>
      </div>
  </section>

  <section class="context-form__site-discussion">
    <div  class="context-form__field">
      <label class="context-form__label">Interpretation</label>
      <textarea readonly type="text" class="context-form__textarea" ><%= @context.interpretation %></textarea>
    </div>
    <div class="context-form__field">
      <label class="context-form__label">Discussion</label>
      <textarea readonly type="text" class="context-form__textarea" ><%= @context.discussion %></textarea>
    </div>
  </section>

  <section class="context-form__date">
    <div class="context-form__field">
      <label class="context-form__label">Date:</label>
      <p class="context-form__textfield"><%= @context.date %></p>
    </div>
    <div  class="context-form__field">
      <label class="context-form__label">Recorded by:</label>
      <p class="context-form__textfield"><%= @context.recorded_by %></p>
    </div>
  </section>

</div>