<div class="login-container">
  <h2 class="login-title">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form") do |f| %>
    <div class="field">
      <%= f.label :email, class: "login-form__label"  %><br />
      <%= f.email_field :email, autofocus: true, class: "login-form__field" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "login-form__label" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "login-form__field" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "login-form__label remember" %>
      </div>
    <% end -%>
    <div class="submit-wrap">
      <div class="actions submit">
        <%= f.submit "Log in" %>
      </div>
    </div>
  <% end %>
  <div class="other_links">
    <%= render "devise/shared/links" %>
  </div>
</div>