<!DOCTYPE html>
<html>
<head>
  <title>Archio</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>ARCHIO</h1>
    <%= render "layouts/navBar" %>
    <%= render "layouts/project" %>
    <% flash.each do |message_type, message| %>
      <div id="flash" class="flash-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>


    <%= render "layouts/login" %>

    <%= yield %>
  </div>
</body>
</html>
