<!DOCTYPE html>
<html>
<head>
  <title>Archio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div id="flash" class="flash-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>

    <%= render "layouts/login" %>

    <%= yield %>
  </div>
</body>
</html>
